{% extends 'layouts/ticketsBase.html' %}

{% block content %}
<form id="searchForm" name="searchForm">
    Телефон<input id="phone" type="text"><Br>
    Город<input id="formCity" type="text"><Br>
    Начало<input id="StartDatePicker" type="date" value="2016-01-01">
    Конец<input id="EndDatePicker" type="date">
    <button id="searchButton" type='button'>Найти</button>
</form>
        <script>
        var  currentDate = new Date()
        var tommorow = currentDate.setDate(currentDate.getDate() + 1);
        document.getElementById('EndDatePicker').valueAsDate = tommorow;

            $('#searchButton').click(function(){

            creationDateStart = $('#StartDatePicker').val();
            creationDateEnd = $('#EndDatePicker').val();
            var searchStr = '?creation_date__gte=' + creationDateStart + '&creation_date__lt=' + creationDateEnd;
            formCity = $('#formCity').val();
            formPhone = $('#phone').val();


            if(formPhone != '') {
                searchStr = searchStr+'&phone='+formPhone
            }

            if(formCity != '') {
                searchStr = searchStr+'&city='+formCity
            }
             window.location.href = "/speakupinbound/find/" + searchStr ;


            });

        </script>

    <script>

        $.getJSON( "/ajax/personal/", function( data ) {
  var items = [];
  $.each( data, function( key, val ) {
    console.log(key, val)
  }
        )
        }
  );

    </script>

    Всего записей: <b>{{ ticket_list.count }}</b> <a id="ss" href="#">Обновить<i id="refreshAjaxTable" class="fa fa-refresh"></i></a>
<table id="example" border="1" cellpadding="5" cellspacing="5" width="100%">
    <thead>
  <tr>
    <td class="tableHead">Номер</td>
    <td class="tableHead">ФИО</td>
    <td class="tableHead">Телефон</td>
    <td class="tableHead">Город</td>
    <td class="tableHead">Возраст</td>
    <td class="tableHead">Школа</td>
    <td class="tableHead">Дата создания</td>
  </tr>
        </thead>

        {% for ticket in ticket_list %}
  <tr id="tickets">

    <td>{{ ticket.id }}</td>
    <td>{{ ticket.first_name }} {{ ticket.last_name }} {{ ticket.middle_name }}</td>
    <td>{{ ticket.phone }}</td>
    <td>{{ ticket.city }}</td>
    <td>{{ ticket.age }}</td>
    <td>{{ ticket.place }}</td>
    <td>{{ ticket.creation_date }}</td>
  </tr>

        {% endfor %}
</table>

{% endblock %}
</html>