{% extends 'layouts/ticketsBase.html' %}
{% block content %}

    <div class ="formHead"><b>Перезвон</b></div>
        <div class ="formContainer">
            <form>
            <p><span>Номер телефона </span> <input type="text">
            <p><span>Имя </span> <input type="text">
            <p><span>Фамилия </span> <input type="text">
            <p><span>Отчество </span> <input type="text">
            <p><span>Город </span> <input type="text">
            <p><span>Дата</span> <input type="datetime-local">
           <p><input type="submit" value="Регистрация">
            </form>

        </div>
    </div>

{% endblock %}
</html>