<html>
<head>

<link rel="stylesheet" href="static/css/maxmertkit.css">

<!-- Latest compiled and minified JavaScript -->
    <script src="static/js/maxmertkit.js"></script>

</head>
<body>

 <div class="-navbar -row">

	<!-- Header is always visible. Dont set any visible/hidden modifiers. -->
	<div class="-col3">
		<div class="-header">JV</div>

		<!-- -navbar-toggle is absolute positioned element. Add it to the column with header. We want to show it only on phones and tablets. Don't forget to add javascript code to show menu on click. -->
		<a class="-navbar-toggle _hidden-desktops_ _hidden-large-desktops_ -btn"><i class="fa fa-th-list"></i></a>

	</div>

	<!-- We don't want to see this menu on tables and phones.-->
	<div class="-col5 _hidden-phones_ _hidden-tablets_">

        <center>
            {% if user.is_authenticated %}
            <b>{{ user.first_name }} {{ user.last_name }}</b>
            <p><a href="/logout/">Выход</a>
            {% endif %}

        </center>

	</div>



</div>
    <center>
    {% block content %}
    {% endblock %}
    </center>
    <hr>
</div>

</body>
</html>
