<html>
</head>
<link rel="stylesheet" href="/static/css/ticket.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

 <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

 <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://leaverou.github.io/awesomplete/awesomplete.css" />
<script src="https://leaverou.github.io/awesomplete/awesomplete.js" async></script>

</head>
<body>
    <div class="mainContainer">
       <img src ="/static/img/logo.gif">
        <span class="title">New ticket</span>
        <div class ="userInfo"><b>{{ user.first_name }} {{ user.last_name }}</b></div>
        <hr>

        <a class="ticketMenu" href="/speakupinbound">Регистрация</a>
        <a class="ticketMenu" href="/speakupinbound/recall">Recall</a>
        <a class="ticketMenu" href="/speakupinbound/tickets">Мои</a>
        <hr>
        {% block content %}

        {% endblock %}
        </body>
</html>
